# Binaries are stored here, no need to
# include binaries in git repo.
/cmake-build-debug*

# auto generated directories, no need
# to include in git repo
/.vscode*
/.idea*

# sometimes created
/wilpac-main*